<div class="container-fluid">
    <h3 class="header">News Scraper</h3>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{#each articles}}
                {{> article}}
                {{/each}}
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="notesModal" data-keyboard="false" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="savedNotes">
                    {{#each notes}}
                    {{> note}}
                    {{/each}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Add note</button>
                    <button type="button" class="btn btn-danger" id="modalCloseBtn">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>