<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Headline</th>
                        <th scope="col">Summary</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody id="savedTable">
                    <!-- saved articles -->
                </tbody>
            </table>
        </div>
    </div>

</div>