<div class="container-fluid">
    <div class="card-deck">
        {{#each articles}}
        {{#if saved}}
        {{> article}}
        {{/if}}
        {{/each}}
    </div>
</div>

{{!-- {{>note}} --}}